<%# app/views/people/show.html.erb %>

<%= link_to "< Voltar", people_path, class: 'btn btn-secondary btn-sm' %>

<h1>Alterações realizadas no cadastro de <%= @person.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Ação</th>
      <th>Usuário</th>
      <th>Alterações</th>
      <th>Data/Hora</th>
    </tr>
  </thead>
  <tbody>
    <% @person.audits.each do |audit| %>
      <tr>
        <td><%= audit.action %></td>
        <td><%= audit.user&.email %></td>
        <td>
          <ul>
            <% audit.audited_changes.each do |field, changes| %>
              <li>
                <strong><%= field %>:</strong>
                <%= changes[0] %> -> <%= changes[1] %>
              </li>
            <% end %>
          </ul>
        </td>
        <td><%= audit.created_at.strftime("%d/%m/%Y %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Editar', edit_person_path(@person), class: "btn btn-primary mb-2" %>

<%= button_to "Remover", @person, method: :delete, class: 'btn btn-danger' %>